/* title class */
.title {
    color: black;
    font-style: normal;
    text-align: center;
}
button {
    background-color: #c0b6ff;
}
/* type_button id */
#type_button {
    font-size: clamp(0.7rem, 2vw, 3rem); /* min, preferred, max */
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5em 1em; /* top/bottom, left/right */;
    cursor: pointer;
}
/* save_button id */
#save_button {
    font-size: clamp(1rem, 1.5vw, 2rem); /* min, preferred, max */
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5em 1em; /* top/bottom, left/right */;
    cursor: pointer;
    align-items: center;
    display: block;
    margin: 20px auto;
}
/* calendar table */
table {
    width: 95vw;
    height: auto;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* table rows */
tr {
    height: 4vh;
}
/* table sections */
td, th {
    font-size: clamp(0.7rem, 2vw, 3rem); /* min, preferred, max */
    border: 2px solid rgb(255, 255, 255);
    background-color: #d9d0ff;
    padding: 0.3em 0.6em; /* top/bottom, left/right */;
}
/* table cells hover */
td.cell-hover {
    background: rgba(0,0,0,0.1);
}
/* cell content */
.cell-content {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
body {
    background-color: #9fedff;
    margin: 0;
    padding: 20px;
}
* {
    font-family: Arial, sans-serif;
}