/* title class */
.title {
    color: black;
    font-style: normal;
    text-align: center;
}
/* type_button id */
#type_button {
    font-size: clamp(0.7rem, 2vw, 3rem); /* min, preferred, max */
    border: 1px solid black;
    padding: 0.5em 1em; /* top/bottom, left/right */;
    cursor: pointer;
}
/* calendar table */
table {
    width: 95vw;
    height: auto;
    border: 5px solid black;
    margin: 0 auto;
    border-radius: 20px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
/* table rows */
tr {
    height: 4vh;
}
/* table sections */
td, th {
    font-size: clamp(0.7rem, 2vw, 3rem); /* min, preferred, max */
    font-family: 'segoe ui', 'roboto', 'helvetica neue', arial, sans-serif;
    border: 2px solid black;
    padding: 0.3em 0.6em; /* top/bottom, left/right */;
}
/* table cells hover */
td.cell-hover {
    background: rgba(0,0,0,0.1);
}
/* cell content */
.cell-content {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}